########################################
# PRODUCTION BACKEND
########################################
production/backend/.env

########################################
# FRONTEND
########################################
production/frontend/node_modules/
production/frontend/dist/
production/frontend/.env

########################################
# CELERY
########################################
production/celery/__pycache__/

########################################
# MLFLOW
########################################
production/mlflow/mlruns/
production/mlflow/*.db

########################################
# DVC
########################################
production/dvc/.dvc/cache/
.dvc/cache/

########################################
# REDIS
########################################
production/redis/dump.rdb

########################################
# MONITORING
########################################
production/monitoring/*.db

########################################
# TEST ARTIFACTS
########################################
.pytest_cache/
coverage.xml
htmlcov/

########################################
# LARGE VIDEO FILES
########################################
*.mp4
*.avi
*.mov
*.mkv
*.zip